/* For all htmls */

body {
	height:auto;
	width: 100%;
}

html {
	width: 100%;
}

h1 {
	display: inline;
	position: relative;
	left:30px;
	padding: 18px;
	font-size: 20pt;
}

h1, h4 {
	font-family:'Georgia', Times, 'Times New Roman', serif;
	color: #ffffff;
	font-weight: bold;
	background-color: #4aaaa5;
}

ul, h2, h3 {
	font-family:'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
}

.font-family {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.top-div {
	border-bottom: solid;
	padding: 20px;
	border-width: 5px;
	border-color: #cccccc;
	width: 100%;
}

ul {
	list-style: none;
	float: right;
	position: relative;
	right: 30px;
	top: 11.5px;
	margin: 0;
	font-size: 14pt;
	font-weight: bold;
	color: #777777;
}

li {
	display: inline;
	margin: 10px;
}

li a {
	text-decoration: none;
	color: #777777;
}

#list-border {
	border-left: solid #dee3ea;
	border-right: solid #dee3ea;
	padding-left: 26px;
	padding-right: 26px;
}

/* Below Header */

#bottom-div {
	background-image:url("../images/whirlpool.png");
	min-height:100%;
	padding-bottom: 150px;
}

h2 {
	font-size: 20pt;
	border-bottom: solid #cccccc;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	width:570px;
	padding: 20px;
	padding-top: 17px;
	font-weight: bold;
}

#main-content {
	width:650px;
	color: #777777;
	background-color:#ffffff;
	border: solid #dddddd;
	position: relative;
	left:13px;
	display:inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* START Sidebar */

#right-div {
	background-color: #ffffff;
	display: inline;
	width: 270px;	
	border: solid #dddddd;
	position: relative;
	float: right;
	right: 7px;
	margin-top: 10px;
}

h3 {
	font-size: 20pt;
	border-bottom:solid #cccccc;
	width:200px;
	text-align:center;
	margin-bottom: 33px;
	padding: 20px;
	padding-top: 17px;
	margin-left:13px;
	font-weight: bold;
}

#right-div img {
	width:48px;
	height:48px;
	position: relative;
	left: 56px;
	bottom: 20px;
	margin-bottom: 30px;
}

/* END Sidebar */

/* Sticky footer */

#footer {
	border-top: solid 15px #4aaaa5;
	background-color:#666666;
	text-align: center;
	padding: 35px;
	color: #939393;
}

/* END FOR ALL HTMLS */

/* index.html */

#about-img {
	margin-left:20px;
	display: inline-block;
	position: relative;
	float: left;
	padding: 10px;
	padding-left: 0px;
	padding-right:15px;

}

#about-text {
	width:500px;
	height: auto;
	display:inline;
	text-align: justify;
}

#text {
	padding: 20px;
	padding-top: 9px;
}

/* END index.html */

/* START contact.html */

#form {
	float:left;
	padding-left: 20px;
	font-size:14pt;
}

input {
	margin-bottom:10px;
	margin-top: 10px;
	width: 500px;
}

#message {
	height: 300px;
	width: 500px;
	margin-bottom:10px;
	margin-top: 10px;
	overflow: scroll;
}

#submit {
	width: 120px;
	height: 40px;
	background: #4aaaa5;
	border: solid #4aaaa5;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 20px;
	color:#ffffff;
}

/* END Contact */

/* START Portfolio */

td img {
	display:inline-block;
	width: 285px;
	height: 195px;
}

h4 {
	position: relative;
	top: -75px;
	width:245px;
	text-align: center;
	margin-right: 0px;
	padding: 20px;
	font-size: 16pt;
}

table {
	border-spacing: 25px;
	border-collapse:separate;
	position: relative;
	width: 610px;
}

/* END Portfolio */

/* HW 2 */

@media screen and (min-width:640px) {

	body, html, #bottom-div, .top-div {
		width: 640px;
	}
	h1 {
		width: 100%;
		display: block;
		left: 0px;
		text-align: center;
		max-width: 640px;
		border-collapse: collapse;
		padding-left: 0px;
		padding-right: 0px;
	}

	h2 {
		width: 85%;
	}
	
	#text {
		width: 85%;
	}
	h3 {
		width: 85%;
		text-align: left;
	}
	ul {
		float: none;
		display: block;
		right: -165px; 
		top: 10px;
	}
	
	#bottom-div {
		height: 100%;
		padding-bottom: 300px;


	}
	#main-content {
		margin: 10px;
		max-width: 640px;
		left: 0px;
		width: 95%;
	}

	#right-div {
		width: 95%;
		right: 15px;
		display: block;
	}
	.top-div {
		padding-left: 0;
		padding-right: 0;
	}
	#about-img {
		width: 557px;
		height: 348px;
	}
	#right-div img {
		position: relative;
		right: 5px;
	}
	.portfolio640 {
		padding-bottom: 0px;
	}

	td img {
		width: 220px;
		height: 160px;
	}
	table {
		width: 585px;
		left: 22px;
	}
	h4 {
		width: 220px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (min-width:768px) {
	body, html, #bottom-div, .top-div {
		width: 768px;
	}
	
	#main-content {
		max-width: 768px;
		width: 90%;
	}

	#right-div {
		width: 90%;
		float: left;
		left: 10px;
	}

	.top-div {
		display: inline;
	}
	h1 {
		width: 30%;
		left: 15px;
	}
	h2 {
		width: 85%;
	}

	h3 {
		width: 85%;
	}
	ul {
		display: inline;
		float: right;
		position: relative;
		top: -31px;
		left: -35px;
	}

	#about-img {
		width: 240px;
		height: 320px;
	}

	#footer {
		width: 698px;
	}

	td img {
		width: 300px;
		height: 220px;
	}
	table {
		width: 585px;
		left: 22px;
	}
	h4 {
		width: 300px;
	}
	.portfolio640 {
		padding-bottom: 20px;
	}

@media screen and (min-width:980px) {
	body, html, #bottom-div, .top-div {
		width: 980px;
	}

	h1 {
		margin-left: 10%;
	}
	ul {
		left: -58px;
	}
	#main-content {
		width: 40%;
		display: inline-block;
		float: left;
		margin-left: 10%;
	}

	#main-content img {
		width: 40%;
		height: 40%;
		display: block;
	}

	h4 {
		width: 40%;
		padding: 0px;
	}

	table {
		width: 60%;


		
		border-spacing: 0px;
	}
	h2 {
		width: 80%;
	}
	#right-div {
		display: inline-block;
		float: left;
		width: 25%;
		margin-left: 10%;
	}

	h3 {
		width: 65%;
	}
	#bottom-div {
		height: 600px;
		padding-bottom: 200px;		
	}
	#footer {
		width: 910px;
	}

}